<div class="backg-container"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
   
  
         
        
      <div class="column" Style="float: left;  display: block">
      <div>
      <p style=" font-style: oblique ;  -ms-transform: skewY(20deg); /* IE 9 */
  transform: skewY(20deg);" ></p>
      
      
       
      
      <p style="font-style: oblique;   -ms-transform: skewY(20deg); /* IE 9 */
  transform: skewY(20deg);" ></p>
      
      
      
      <p style="font-style: oblique;   -ms-transform: skewY(20deg); /* IE 9 */
  transform: skewY(20deg); " ></p>
      
      
      
      <p style="font-style: oblique;   -ms-transform: skewY(20deg); /* IE 9 */
  transform: skewY(20deg);" ></p>
     
     <!--  
      <div class="column">
      <img alt="" src="./images/baby bag.jpg">
      </div>
      -->
   </div>
  
</div>


</div>
