<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
   <head th:replace="fragments :: html_head" />
   <body>
       <div th:replace="fragments :: bkg_color_head" /></div>
      <div th:replace="fragments :: header" /></div>
      <div th:replace="fragments :: menu" /></div>
      
      <div class="page-title" style="background-color: none; width: 200px">Product List</div>
      	
      		<form th:action="@{/home?keyword}">
    			Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
   				 &nbsp;
    			<input type="submit" value="Search" />
   				 &nbsp;
    			<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
			</form>
     
      
      <div class="product-preview-container" th:each="prodInfo : ${paginationProducts.list}">
         <ul>
             <li> <a th:href="@{|/buyProduct?code=${prodInfo.code}|}"><img class="product-image"
               th:src="@{|/productImage?code=${prodInfo.code}|}" /></a></li> 
        <!--    <li>Code: <span th:utext="${prodInfo.code}"></span></li>  -->
            <li>Name: <span th:utext="${prodInfo.name}" style="font-style: oblique"></span></li>
            <li>Price: <span th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}" style="color:red;font-style: oblique"></span></li>
            <li>
               <a th:href="@{|/buyProduct?code=${prodInfo.code}|}">Buy Now</a>
            </li>
            <li>
            <h5><a th:href="@{|/productDetail?code=${prodInfo.code}&name=${prodInfo.name}&price=${prodInfo.price} |}">See Detail</a></h5>
            </li>
            <!-- For Manager edit Product -->
            <th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
               <li>
                 <a style="color:red;"
                    th:href="@{|/admin/product?code=${prodInfo.code}|}">Edit Product</a>
               </li>
            </th:block>
         </ul>
      </div>
      
      <br/>
      <div class="page-navigator" th:if="${paginationProducts.totalPages > 1}">
         <th:block th:each="page : ${paginationProducts.navigationPages}">
        
            <a th:href="@{|/productList?page=${page}|}" th:if="${page != -1}"
               class="nav-item" th:utext="${page}"></a>
              
            <span class="nav-item" th:if="${page == -1}"> ... </span>
            
         </th:block>
      </div>
      
      <div th:replace="fragments :: footer" /></div>
      
   </body>
</html>
