<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title> Shop Online</title>
      <link rel="icon" type="images/x-icon" href="https://www.w3docs.com/favicon.ico" />
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
   </head>
   <body>
    <!--    <th:block th:include="/backg"></th:block> -->
      <div th:replace="fragments :: header" /></div>
      <div th:replace="fragments :: menu" /></div>
      
      <div class="page-title">Ete-ta-ity</div>
      <th:block th:include="/sliding"></th:block>
      
      <div class="flex-box">
      <div class="home-prod-view" th:each="listproduct : ${listproduct}">
         
              <a th:href="@{|/buyProduct?code=${listproduct.code}|}"><img class="product-image"
               th:src="@{|/productImage?code=${listproduct.code}|}" /></a><br>
      <!--       Code: <span th:utext="${listproduct.code}"></span><br>  -->
            Name: <span th:utext="${listproduct.name}" style="font-style: oblique"></span><br>
            Price: N<b><span th:utext="${#numbers.formatDecimal(listproduct.price,3,2,'COMMA')}" style="color:red;font-style: oblique"></span></b>
            <h5><a th:href="@{|/productDetail?code=${listproduct.code}&name=${listproduct.name}&price=${listproduct.price} |}">See Detail</a></h5>
            
            <!--    <a th:href="@{|/buyProduct?code=${product.code}|}">Buy Now</a>  -->
            
           
            </div>
          </div>  
      
       <div th:replace="fragments :: display_product" /></div>
      
       <div th:replace="fragments :: footer" /></div>
      
   </body>
</html>
