<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Enter Custom Information</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
      <div th:replace="fragments :: bkg_color_head" /></div>
      <div th:replace="fragments :: header" /></div>
      <div th:replace="fragments :: menu" /></div>
      
      <div class="page-title" style="margin-right: auto; margin-left: auto">Enter Customer Information</div>
      
      <form id="custinfo" method="POST" th:object = "${customerForm}" th:action="@{/shoppingCartCustomer}">
         
        
         <table>
            <tr>
               <td>Name *</td>
               <td><input th:field="*{name}" style="width: 500px; height: 30px; margin-top: 15px" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
               </td>
            </tr>
            <tr>
               <td>Email *</td>
               <td><input th:field="*{email}" style="width: 500px; height: 30px; margin-top: 15px"/></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
               </td>
            </tr>
            <tr>
               <td>Phone *</td>
               <td><input th:field="*{phone}" style="width: 500px; height: 30px; margin-top: 15px"/></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">..</span>
               </td>
            </tr>
            <tr>
               <td>Address *</td>
               <td><input th:field="*{address}" style="width: 500px; height: 30px; margin-top: 15px"/></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</span>
               </td>
            </tr>
            <tr>
               <td>&nbsp;</td>
               <td><input type="submit" value="Submit" style="width: 500px; height: 25px"/> <input type="reset"
                  value="Reset" style="width: 500px; height: 25px"/></td>
            </tr>
         </table>
         
      </form>
      
     <div th:replace="fragments :: footer" /></div>
      
   </body>
</html>
